body{
  background-color: #130115;
  margin: 150px;
}
table{
  background-color: #ff83de;

}
td{
  width: 100px;
  height: 100px;
}
input{
  background-color: #b5bebf;
  width: 100px;
  height: 100px;
}
.texto{
  background: white;
  font-size: 20px;
}
.reiniciar{
  font-size: 20px;

}
.num1{
  font-size: 20px;
}

.num2 img{
  font-size: 5%;
}